.carousel {
    height: 900px;
    perspective: 500px;
    margin-top: -320px;
}

.carousel .carousel-item {
    width: 250px;
    cursor: pointer;
}

.carousel-item>img {
    opacity: 1 !important;
}

/* download image */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;
    width: 25%;
    height: 45vh;
}


.image-container img {
    top: 0px;
    width: 100%;
    position: absolute;
    z-index: 1;
    transition: transform 0.3s ease;
}

.image-container:hover img {
    transform: translateX(-50%);
}

.first-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX(10%) rotate(-40deg) skew(-25deg, 45deg);
}

.second-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: auto;
    transform: translateX(100%) rotate(55deg) skew(25deg, -40deg);
    transition: transform 0.3s ease;
}


.image-container:hover .second-image {
    transform: translatex(80%) skew(0) rotate(0);
}


.inputSearch:active {
    border: none;
}